version: "3"
services:

  test-nginx-proxy:
    image: jwilder/nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - certs:/etc/nginx/certs:ro
      - vhostd:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - acme:/etc/acme.sh
    labels:
      - com.github.jrcs.letsencrypt_nginx_proxy_companion.test-nginx_proxy

  test-letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    environment:
      - NGINX_PROXY_CONTAINER=test-nginx-proxy
    volumes:
      - certs:/etc/nginx/certs:rw
      - vhostd:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme:/etc/acme.sh

  test-nginx-web:
    image: ecoswap-front
    container_name: web-ecoswap
    build:
      context: front-angular
      dockerfile: ./Dockerfile
    restart: always
    expose:
      - "80"
    depends_on:
      - test-nginx-proxy
      - test-letsencrypt
    environment:
      - VIRTUAL_HOST=ecoswapp.com,www.ecoswapp.com
      - LETSENCRYPT_HOST=ecoswapp.com,www.ecoswapp.com
      - LETSENCRYPT_EMAIL=webmaster@ecoswapp.com

  test-back-aunteticacion:
    image: back-aunteticacion
    container_name: back-aunteticacion-container
    build: 
      context: ms-autenticacion
      dockerfile: ./Dockerfile
    restart: always
    depends_on:
      - test-nginx-web
    volumes:
      - /etc/letsencrypt/live/ecoswapp.com/keystore.p12:/etc/letsencrypt/live/ecoswapp.com/keystore.p12:ro
    ports:
      - "8085:8085"
    expose:
      - "8085"
    networks:
      - default

  test-back-users:
    image: back-users
    container_name: back-user-container 
    build: 
      context: ms-users
      dockerfile: ./Dockerfile
    restart: always
    depends_on:
      - test-nginx-web
    volumes:
      - /etc/letsencrypt/live/ecoswapp.com/keystore.p12:/etc/letsencrypt/live/ecoswapp.com/keystore.p12:ro
    ports:
      - "8080:8080"
    expose:
      - "8080"
    networks:
      - default

volumes: 
  certs:
  html:
  vhostd:
  acme: